/*Color variables*/
$color-white: #ffffff;
$color-black: #000000;

$color-white-bg: #fffffa;
$color-lightblue-bg: #eef0f3;
$color-blue-bg: #233f53;

$color-bright-text: #fffaeb;
$color-blue-text: #233f54;

$color-yellow: #f3ad00;
$color-grey: #909baa;
